[info]
name = RabbitMQ
groups = core,messages,syslog

[service]
uri_prefix1 = http://
uri_user1 = guest
uri_pw1 = guest
uri_prefix2 = amqp://

[settings]
instances = 1
priority = 1,1,1

[docker]
ports = {'15672/tcp': ('127.0.0.1', None), '5672/tcp': ('127.0.0.1', 5672)}
