[info]
name = RabbitMQ
groups = core,messages,syslog

[service]
uri_prefix = http://
uri_user = guest
uri_pw = guest

[settings]
instances = 1
priority = 1,1,1

[docker]
ports = {'15672/tcp': ('0.0.0.0', None)}
