[info]
name = NetworkTap
groups = files,network

[service]
uri_prefix1 = http://

[settings]
priority = 11

[docker]
environment = ["PYTHONUNBUFFERED=0"]
volumes = {'/var/run/docker.sock': {'bind': '/var/run/docker.sock', 'mode': 'rw'}}
