docker==3.4.1
elasticsearch==6.3.1
falcon==1.4.1
falcon-cors==1.1.7
npyscreen==4.10.5
pika==0.12.0
pytest==3.7.4
pytest-cov==2.6.0
python-magic==0.4.15
pyyaml==3.13
redis==2.10.6
rq==0.12.0
sphinx==1.7.8
watchdog==0.9.0
