docker==4.1.0
elasticsearch==7.1.0
falcon==2.0.0
falcon-cors==1.1.7
npyscreen==4.10.5
pika==1.1.0
pytest==5.3.2
pytest-cov==2.8.1
python-magic==0.4.15
pyyaml==5.2
redis==3.3.11
rq==1.1.0
sphinx==2.3.1
urllib3==1.25.7
watchdog==0.9.0
