docker==3.7.0
elasticsearch==6.3.1
falcon==1.4.1
falcon-cors==1.1.7
npyscreen==4.10.5
pika==0.13.0
pytest==4.3.0
pytest-cov==2.6.1
python-magic==0.4.15
pyyaml==3.13
redis==3.1.0
rq==0.13.0
sphinx==1.8.4
watchdog==0.9.0
