docker==3.7.2
elasticsearch==7.0.0
falcon==2.0.0
falcon-cors==1.1.7
npyscreen==4.10.5
pika==1.0.1
pytest==4.4.2
pytest-cov==2.7.1
python-magic==0.4.15
pyyaml==5.1
redis==3.2.1
rq==1.0
sphinx==2.0.1
urllib3==1.24.2
watchdog==0.9.0
