docker>=2.5.1
elasticsearch==6.2.0
npyscreen==4.10.5
paste==2.0.3
pika>=0.11.0
pytest==3.6.0
pytest-cov==2.5.1
python-magic==0.4.15
redis==2.10.6
rq==0.10.0
sphinx>=1.6.3
urllib3==1.22
watchdog==0.8.3
web.py==0.39
