[info]
name = RMQ-ES-Connector
groups = connector

[settings]
instances = 1
priority = 20

[docker]
environment = ["PYTHONUNBUFFERED=0"]
links = {"RabbitMQ":"rabbitmq", "Elasticsearch":"elasticsearch"}
