[info]
name = Elasticsearch
groups = core,search

[settings]
#public_ip = 192.168.99.100
instances = 1
locally_active = on
#external_host = 0.0.0.0
priority = 10,1

[docker]
#command = -Des.network.host=0.0.0.0
publish_all_ports = True
