[info]
name = Elasticsearch
groups = core,search

[service]
uri_prefix = http://
uri_postfix = /_plugin/head

[settings]
#public_ip = 192.168.99.100
instances = 1
#locally_active = on
#external_host = 0.0.0.0
priority = 10,1

[docker]
#command = -Des.network.host=0.0.0.0
ports = {'9200/tcp': ('0.0.0.0', None)}
