[info]
name = RQ-Worker
groups = core

[settings]
instances = 2
priority = 6

[docker]
environment = ["REMOTE_REDIS_HOST=redis", "REMOTE_REDIS_PORT=6379"]
#TODOHostConfig = {"Binds": ["/tmp:/tmp:rw", "/files:/files:ro", "/vent:/vent:ro", "/var/run/docker.sock:/var/run/docker.sock", "/var/lib/docker/data:/var/lib/docker/data:ro"], "Links": ["Redis:redis"]}
