[info]
name = RQ-Dashboard
groups = core,monitoring

[service]
uri_prefix1 = http://
uri_postfix1 = /rq

[settings]
instances = 1
priority = 5

[docker]
environment = ["REMOTE_REDIS_HOST=redis"]
links = {"Redis":"redis"}
