[info]
name = Workflow
groups = core,files,monitoring,workflow

[service]
uri_prefix1 = http://
uri_postfix1 = /data.json

[settings]
priority = 4

[docker]
environment = ["PYTHONUNBUFFERED=0"]
publish_all_ports = True
links = {"Redis":"redis"}
