[info]
name = RMQ-ES-Connector
groups = core

[settings]
instances = 1
priority = 20

[docker]
command = #
environment = ["PYTHONUNBUFFERED=0"]
links = {"RabbitMQ":"rabbitmq", "Elasticsearch":"elasticsearch"}
