[info]
name = "collectors"

[service]
schedule = {"all":"continuous"}

[pcap-drop]
HostConfig = {"Binds": ["/data:/data"]}

[elasticsearch]

[rabbitmq]

[redis]

[rq-worker]
Env = ["REMOTE_REDIS_HOST=redis", "REMOTE_REDIS_PORT=6379"]
HostConfig = {"Links": ["collectors-redis:redis"]}

[rq-dashboard]
Env = ["REMOTE_REDIS_HOST=redis"]
HostConfig = {"Links": ["collectors-redis:redis"], "PublishAllPorts": true}
