[info]
name = some knowledge, active

[service]
schedule = {"all":"hourly"}

[dns]
data_path = dyn_data/output.csv
#Cmd = ["domain", "domain controller", "subnet prefix"]

[nmap-protocol]
HostConfig = {"Binds":["/tmp:/tmp", "/var/run/docker.sock:/var/run/docker.sock"], "VolumesFrom":["ska-dns", "1visualization-honeycomb"]}
