[info]
name = Elasticsearch
groups = search

[service]
uri_prefix1 = http://

[settings]
instances = 1
priority = 10

[docker]
#command = -Des.network.host=0.0.0.0
ports = {'9200/tcp': ('0.0.0.0', None)}
