[info]
name = Syslog
groups = core,logging,syslog

[settings]
#public_ip = 192.168.99.100
instances = 1
locally_active = on
#external_host = 0.0.0.0
priority = 2,1,2

[docker]
environment = ["VENT_HOST=`hostname`"]
ports = {'514/tcp': 514}
links = {"RabbitMQ":"rabbitmq"}
