[info]
name = Syslog
groups = core,logging,syslog

[service]
uri_prefix1 = tcp://

[settings]
instances = 1
priority = 2,1,2

[docker]
environment = ["VENT_HOST=`hostname`"]
volumes = {'/var/log/vent': {'bind': '/var/log/syslog-ng', 'mode': 'rw'}}
ports = {'514/tcp': ('0.0.0.0', 514)}
links = {"RabbitMQ":"rabbitmq"}
